* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blanchedalmond;
}

/* Set a background color for the entire page */
body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}


#le{
    font-size: 25px;
    color: #555;
}
#re
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
#class{
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    font-size: 25px;
    color: #555;
    background-color: blanchedalmond;
}